body{font-family: 'Lato', sans-serif;margin: 0px 80px 0px 80px;

    }
.menu-bar{text-align-last: right;}
.menu-bar ul{display: inline-flex;list-style-type:none;}
.menu-bar ul li{
    width: 100px;
    margin: 10px;
    padding: 5px;
    font-weight: 600;}
.menu-bar ul li a{text-decoration: none}
.orange-highlighter{color: orange;} 
.red-highlighter{color: tomato;}
h1{font-size: 60px;} 
h4{font-size: 40px;}
h2{font-size: 55px;font-weight: 800;} 
h6{ font-size: 22px;} 
h5{font-size: 30px;}
.pra-text{font-size: 18px;
        font-weight: 100;}
.link{color: white;
    text-decoration: none;
    background-image: linear-gradient(45deg,blue,dodgerblue);
    padding: 20px 50px;
    
    border-radius: 5px;
}   
.half-width{width: 35%;padding: 3%;margin: 4%;
            float: left;height: 350px;}
img{width: 100%;}
p{ margin-bottom: 70px;}

.no-third{margin-top: 1250px; text-align: center; height: 700px; background-color: whitesmoke; padding-top: 80px; }

article{padding-left: 100px; padding-top: 50px;}


.one-third{width:25%;float: left;margin: 15px; padding:15px; box-shadow: 10px 10px 15px gainsboro; height:300px;
    border: 1px solid gainsboro;  ;border-radius: 10px;}
     


#no-four{background-image: url(images/Group_33094_1.png);background-repeat: no-repeat;background-size:900px 200px;padding: 100px;background-position: center;margin-top: 200px; background-position-x: center;height:auto;}

.text-half-width{float: left; width: 35% ;padding-left:3% ;margin-left: 20px; height: 350px;}

.link-position{margin-left: 100px;}

.text-position{text-align:center;width: 500px; margin-top: -90px;color: white;}
.link-box{color: white;
    text-decoration: none;
    background-image: linear-gradient(45deg,sandybrown,navajowhite);
    padding: 20px 50px;
    
    border-radius: 5px;
}   
.last-center{  margin-top: 250px; text-align: center;padding:80px ;}

.bottom-link ul{ display: inline-flex;list-style-type: none; margin-left: -40px;}
.bottom-link ul li{ width:40px; margin:-10px 10px 10px -10px;  padding:0px 10px ;}
